/**
 * Normalize styles.
 */
@import "normalize";

/**
 * Overrides styles.
 */
@import "overrides";

/**
 * Colors
 */
@import "vars";

/**
 * Components styles.
 */
@import "components";

/**
 * Layout styles.
 */
#content {

    font-family: $ff-main;
    color: $fc-main;

    // Headings.
    h1 {
        color: $fc-secondary;
    }

    // Text contents.
    p {
        font-size: $fs-main-content;
        // Disable line breaks on touch devices.
        @media (pointer:coarse) {

            br {
                display: none;
            }
        }
    }

    // Section 1.
    #section-1 {

        // Content wrapper nth1.
        .content-wrapper:nth-child(1) {

            // Half of the demo video image height.
            padding-bottom: calc($demo-video-image-height / 2);
            background: $bg-section-1;

            // Main Header.
            .scp-header {

                h1 {
                    font-family: $ff-heading;
                }

                span {
                    font-family: $ff-ui-small;
                    color: $plain-white;
                }
            }

            .scp-buttons {
                margin: 0 auto;
            }
        }

        // Content wrapper nth2.
        .content-wrapper:nth-child(2) {

            position: relative;

            // Minus half of the demo video image height.
            margin-top: calc(-1 * $demo-video-image-height / 2);
            margin-bottom: calc(-1 * $demo-video-image-height / 2);

            .scp-image {
                border-radius: 6px;
                box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15); 
                background: #FFF;
            }
        }

        // Content wrapper nth3.
        .content-wrapper:nth-child(3) {

            // Half of the demo video image height.
            padding-top: calc($demo-video-image-height / 2);

            .scp-grid-description {

                h3 {
                    color: $fc-secondary;
                }
            }
        }
    }

    // Section 2.
    #section-2 {

        background: linear-gradient(180deg, $bg-section-2a 0%, $bg-section-2b 100%);

        .scp-buttons {
            margin: 0 auto;
        }
    }

    // Section 3.
    #section-3 {

        background: $bg-section-3;
    }
}
